.Login_right_content {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;

  .login_right_unityworks {
    /* border: 2px solid black;  */
    color: #851c1c;
    font-weight: bold;
    font-size: 23px;
    align-self: flex-end;
    margin: 18px;
  }

  .Login_sign_into_unityworks {
    /* border: 2px solid black; */
    color: #851c1c;
    font-weight: bold;
    font-size: 33px;
    margin-top: 47px;
    margin-bottom: 28px;
  }

  .Login_G_F {
    display: flex;
    height: 48px;

    .Login_circle {
      width: 40px;
      height: 40px;
      border-radius: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0px 14px;
      box-shadow: -2px 2px 5px #a08282;
      background-color: #faf1f1;
      font-weight: bold;
      cursor: pointer;
    }
  }

  .Login_or_use {
    margin-top: 15px;
    font-size: 13px;
    font-weight: 550;
  }
  .Login_email_password {
    margin-top: 30px;
    height: fit-content;

    .Login_email {
      width: 283px;
      height: 41px;
      border-radius: 24px;
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: #d9d9d9;
      color: #635b5b;

      img {
        width: 29px;
        height: 21px;
        margin: 0 10px;
      }

      input {
        background-color: transparent;
        border: none;
        width: 215px;
      }
      input:focus {
        outline: none;
      }
    }

    .Login_password {
      width: 283px;
      height: 41px;
      border-radius: 24px;
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: #d9d9d9;
      color: #635b5b;

      img {
        width: 29px;
        height: 21px;
        margin: 0 10px;
      }

      input {
        background-color: transparent;
        border: none;
        width: 215px;
      }
      input:focus {
        outline: none;
      }
    }
  }

  .Login_Forgot_password {
    font-size: 10px;
    width: auto;
    padding: 3px 6px;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0px 0px 9px #a08282;
    cursor: pointer;
  }

  .login_signup_button_right {
    margin-top: 21px;

    button {
        width: 158px;
        font-size: 15px;
        font-weight: 500;
        background-color: #851c1c;
        color: white;
        border: 3px solid white;
        border-radius: 21px;
        height: 38px;
        cursor: pointer;
      }
  }
}
