
.login-main-container{
    
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

.login-inner-container{
    
    //  border: 2px solid #e77070; 
    display: flex;
    box-shadow: 0px 0px 27px #a08282;
    width: 768px;
    height: 559.200px;
    justify-self: center;
    align-self: center;
}

}
